{% extends 'layout.html' %}
{% block body %}
<div class = " container card-text">
<p class = "h1 text-muted">About Us</p>
<p class = "text-muted">
Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Veniam reprehenderit alias ullam at, perspiciatis temporibus.
 Molestiae alias sint ut error ducimus architecto perspiciatis 
 sapiente vitae aperiam adipisci! Natus, ut similique!
 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
 Eaque veritatis maxime quas possimus perspiciatis aut sit nisi error enim,
  praesentium soluta, cupiditate doloribus quis, beatae placeat nobis saepe veniam ea.
</p>
<div class = "h2 text-muted">Email</div> <br />
<div class = "text-muted">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
</div> 
<br />
<div class = "h2 text-muted">Social Media</div> <br />
<div class = "text-muted">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
</div>    
</div>
{% endblock %}