{% extends 'layout.html' %}
{% block body %}
<br />
<div class="card mb-3 mx-auto col-md-8 bg-white border-light">
    <div class="carousel-item active">
        <img class="d-block w-100"   src ="../static/images/Dreamchasers.jpg" alt = "Thumbnails">
      </div>
 <div class="card-body  ">
     <p class = "text-bold lead">Meek Mill - Dreamchasers 2</p>
    
 <p class = "card-text lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae unde deleniti odit dolore cum, 
 velit cupiditate, voluptas reprehenderit in architecto iusto vero deserunt voluptatum 
 itaque sit, debitis minima eaque dolores.
 </p>
 <br />
 <p class = "lead "><strong> Tags: <strong><h5 class = "lead text-white"><span class="badge badge-primary"><a class = "lead text-white" href= "#">Meek Mill </a></span> 
                                <span class="badge badge-primary"><a  class = "lead text-white" href= "#">DreamChasers</a></span></h5>  
</p>

<br />
  
 </div>
</div>
<br />
{% endblock %}