{% extends 'layout2.html' %}
{% block body %}
{%  for num in c %}
<div class="col-md-4">
    <a style=" text-decoration:none;" href="details/1">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="../static/images/Bad_Hair.jpg" alt="Card image cap">
      <div class="card-body">
          <p class = "text-bold lead">Nasty C - Bad Hair </p>
        <p class="card-text text-dark lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
        
          <small class="text-muted">9 views</small>
        </div>
      </div>
    </div>

</a>
  </div>
  <br />
  <div class="col-md-4">
    <a style=" text-decoration:none;" href="newsDetails/1">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="../static/images/Dreamchasers.jpg" alt="Card image cap">
      <div class="card-body">
          <p class = "text-bold lead">Meek Mill - DreamChasers 2 </p>
        <p class="card-text text-dark lead">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <div class="d-flex justify-content-between align-items-center">
        
          <small class="text-muted">9 views</small>
        </div>
      </div>
    </div>
</a>
  </div>
  <br />

  {% endfor %}
{% endblock %}